*{
    text-align: center;
}

h2 {
    background-color: rgb(179, 129, 199);
    color: rgb(118, 19, 138);
    font-weight: bold;
    height: 50px;
}

td{
    font-weight: 600;
}

.purple{
    background-color:rgb(179, 129, 199)
}

th{
    background-color: rgb(233, 153, 233);
    font-weight: bolder;
}

table,th,td {
    border-collapse: collapse;
            border:3px solid rgb(53, 2, 53)
}