* {
    margin: 0px;
    padding: 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

img {
    width: 100%;
}

div{
    width: 30%;
}